
body {
    background-color: rgb(228, 208, 156);
}

h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

p{
    color: black;
    font-family: cursive;
    font-size: medium;
    text-align: center;
}

ul  :link{
    background-color: crimson;
    color: aliceblue;
}

ul :visited{

}

ul :hover{
    background-color: aliceblue;
    color: crimson;
}