body {
    background-color: rgb(228, 208, 156);
}

h1 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    background-color: beige;
    padding: 20px;
}

h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

p{
    color: black;
    font-family: cursive;
    font-size: medium;
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: beige;
    background-position: center;

}

div{ 
    background-color: beige;
    padding: 5px;
    font-family: cursive;
    font-size: medium;
    text-align: center;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    padding: 14px 16px;
}

ul li a:hover {
    background-color: darkgrey;
    color: white;
}

#binairy-bonanza{
    object-position: center;
}

#HOME{ 
    background-image: url("images/the\ hand\ of\ god1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#thailand{
    background-image: url("images/thailand-pic.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#binairy{
    background-image: url("images/fantasy-eye-illustrated.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}