
body {
    background-color: rgb(21, 126, 179);
}

h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

p{
    color: black;
    font-family: cursive;
    font-size: medium;
    text-align: center;
}
a{
    background-color: crimson;
    color: aliceblue;
}
a :hover{
    background-color: aliceblue;
    color: crimson;
}